@model KnockOutJsMvcCreateArticle.Models.Author


    <div id="listAuthors">
        @using (Ajax.BeginForm("CreateAjaxAuthor", "Author", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "listAuthors" }))
    {
        
            <fieldset>
                <legend>Author</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Biography)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Biography)
                    @Html.ValidationMessageFor(model => model.Biography)
                </div>

                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
}
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
