@model KnockOutJsMvcCreateArticle.Models.Current

<fieldset>
    <legend>Current</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.last_updated_epoch)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.last_updated_epoch)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.last_updated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.last_updated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.temp_c)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.temp_c)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.temp_f)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.temp_f)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wind_mph)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wind_mph)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wind_kph)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wind_kph)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wind_degree)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wind_degree)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.wind_dir)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wind_dir)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pressure_mb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pressure_mb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pressure_in)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pressure_in)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.precip_mm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precip_mm)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.precip_in)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.precip_in)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.humidity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.humidity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cloud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cloud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.feelslike_c)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.feelslike_c)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.feelslike_f)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.feelslike_f)
    </div>
</fieldset>

